<footer>
    <div class="social">
<i class="fa-brands fa-square-facebook"></i>
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="company">
        &COPY;AirBnB Private Limited
    </div>
    <div class="tandc">
        <a href="">privacy</a>
        <a href="">terms</a>
    </div>
</footer>